# --- Framework principal ---
Django
djangorestframework
dj-rest-auth
django-allauth
django-multiupload

# --- cors -----
django-cors-headers

# --- Gestion de configuration ---
python-decouple  # pour lire les fichiers .env

# --- Base scientifique / utilitaires ---
# numpy
# pandas
# scipy

# --- Authentification / API ---
requests
requests-oauthlib
oauthlib

# --- Fichiers et formats ---
openpyxl
Pillow

# --- Outils de développement (optionnels mais utiles) ---
autopep8
python-dotenv

# --- Outils IA / OpenAI ---
# openai

# --- Autres éventuels (selon ton projet) ---
# matplotlib


# --- postgres -----
gunicorn
psycopg2-binary