{% extends 'base.html' %}
{% load static %}
{% block title %}Créer une école{% endblock %}

{% block content %}
<main class="flex-1 p-6 bg-gray-100 min-h-screen">
    <div class="container mx-auto">
        <h1 class="text-4xl font-bold text-gray-800 mb-6">Créer une école et un proviseur</h1>
        
        <div class="bg-white p-8 rounded-xl shadow-lg w-full">
            <form id="createSchoolForm" class="space-y-6">
                {% csrf_token %}
                
                <!-- Section pour les informations de l'école -->
                <div>
                    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Informations de l'école</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div>
                            <label for="schoolName" class="block text-sm font-medium text-gray-700">Nom de l'école</label>
                            <input type="text" id="schoolName" name="schoolName" required
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300">
                        </div>
                        <div>
                            <label for="schoolType" class="block text-sm font-medium text-gray-700">Type d'école</label>
                            <select id="schoolType" name="schoolType" required
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300">
                                <option value="HIGHSCHOOL">Lycée</option>
                                <option value="COLLEGE">Collège</option>
                                <option value="UNIVERSITY">Université</option>
                                <option value="SCHOOL">Ecole</option>
                            </select>
                        </div>
                        <div class="col-span-1 md:col-span-2">
                            <label for="schoolAddress" class="block text-sm font-medium text-gray-700">Adresse</label>
                            <textarea id="schoolAddress" name="schoolAddress" required rows="3"
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300"></textarea>
                        </div>
                        <div>
                            <label for="schoolEmail" class="block text-sm font-medium text-gray-700">Email de l'école</label>
                            <input type="email" id="schoolEmail" name="schoolEmail" required
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300">
                        </div>
                        <div>
                            <label for="schoolPhone" class="block text-sm font-medium text-gray-700">Numéro de téléphone</label>
                            <input type="tel" id="schoolPhone" name="schoolPhone"
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300">
                        </div>
                    </div>
                </div>

                <!-- Section pour les informations du proviseur -->
                <div class="mt-8">
                    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Informations du Proviseur</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div>
                            <label for="principalFirstName" class="block text-sm font-medium text-gray-700">Prénom</label>
                            <input type="text" id="principalFirstName" name="principalFirstName" required
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300">
                        </div>
                        <div>
                            <label for="principalLastName" class="block text-sm font-medium text-gray-700">Nom de famille</label>
                            <input type="text" id="principalLastName" name="principalLastName" required
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300">
                        </div>
                        <!-- <div>
                            <label for="principalUsername" class="block text-sm font-medium text-gray-700">Nom d'utilisateur</label>
                            <input type="text" id="principalUsername" name="principalUsername" required
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300">
                        </div> -->
                        <div>
                            <label for="principalEmail" class="block text-sm font-medium text-gray-700">Email</label>
                            <input type="email" id="principalEmail" name="principalEmail"
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300">
                        </div>
                        <!-- <div>
                            <label for="principalPassword" class="block text-sm font-medium text-gray-700">Mot de passe</label>
                            <input type="password" id="principalPassword" name="principalPassword" minlength="4" required
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300">
                        </div> -->
                        <div>
                            <label for="principalGender" class="block text-sm font-medium text-gray-700">Genre</label>
                            <select id="principalGender" name="principalGender" required
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300">
                                <option value="M">Homme</option>
                                <option value="F">Femme</option>
                            </select>
                        </div>
                        <div>
                            <label for="principalBirthDate" class="block text-sm font-medium text-gray-700">Date de naissance</label>
                            <input type="date" id="principalBirthDate" name="principalBirthDate"
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300" required>
                        </div>
                        <div class="col-span-1 md:col-span-2">
                            <label for="principalAddress" class="block text-sm font-medium text-gray-700">Adresse</label>
                            <textarea id="principalAddress" name="principalAddress" required rows="3"
                                class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300"></textarea>
                        </div>
                    </div>
                </div>

                <div id="messageBox" class="text-sm font-medium text-center"></div>

                <button type="submit" id="submitBtn"
                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white bg-blue-600 
                           hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 
                           transition duration-300 transform hover:scale-105">
                    Créer l'école et le proviseur
                </button>
                <div id="loadingIndicator" class="hidden text-blue-500 font-semibold text-sm text-center">Chargement...</div>
            </form>
        </div>
    </div>
</main>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/schools/create_school.js' %}"></script>
{% endblock %}
